*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --body-bg: #dddddd;
    --program-bg: #ffffff;
}

body{
    background: var(--body-bg);
}

section{
    width: -webkit-fill-available;
}

section ul{
    list-style: none;
    letter-spacing: 1px;
}

.viewCourses{
    padding: 5px 10px;
    text-decoration: none;
    color: blue;
    background: #ddd;
    float: right;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.programs .program p{
    margin: 2.5px 0;
}