/* PROGRESS BAR */
.header{
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
}

.progress-container{
	width: 100%;
	height: 8px;
}

.progress-bar{
	height: 0.5rem;
	background: var(--safron);
	width: 0%;
}


/* DESKTOP NAV */
nav, .nav-links{
    display: flex;
}

nav{
	justify-content: space-around;
	align-items: center;
	height: 17vh;
}

.nav-links{
	gap: 2rem;
	list-style: none;
	font-size: 1rem;
}

a{
	color: var(--black);
	text-decoration: none;
	text-decoration-color: var(--white);
}

a:hover{
	color: var(--grey);
	text-decoration: underline;
	text-underline-offset: 1rem;
	text-decoration-color: var(--link_hover);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}


/* HAMBURGER MENU */
#hamburger-nav{
    display: none;
	position: fixed;
    top: 0;
    width: -webkit-fill-available;
    background: var(--white);
    z-index: 1;
	height: unset;
	padding: 1rem 1.5rem;
	justify-content: space-between;
	width: -webkit-fill-available;
	background-color: var(--white);
	box-shadow: 0 0 0.7rem 0 var(--button_hover);
}	

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px;
	cursor: pointer;
}

.hamburger-icon span{
	width: 100%;
	height: 2px;
	background-color: var(--black);
	transition: all 0.3 ease-in-out;
}

.menu-links{
	position: absolute;
	top: 3.37rem;
    right: -9.07rem;
	background-color: var(--white);
	width: fit-content;
	max-height: 0;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.menu-links a{
	display: block;
	padding: 1.25rem;
	font-size: 1.5rem;
	color: var(--black);
	text-decoration: none;
	transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 28.8rem;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}


/* FOOTER SECTION */
footer{
	height: 26vh;
	margin: 0 1rem;
}

footer p{
	text-align: center;
}

footer .nav-links span{
	color: var(--button_hover);
}
