/* Tablet */
@media screen and (max-width: 1100px) {
	#desktop-nav {
		display: none;
	}

	#profile, #contact{
		margin: 10rem 5% 3rem 5%;
		height: unset;
	}

	nav#hamburger-nav{
		display: flex;
		height: unset;
		padding: 1.5rem 1.5rem;
		justify-content: space-between;
		width: -webkit-fill-available;
		background-color: var(--white);
		box-shadow: 0 0 0.7rem 0 var(--button_hover);
	}	

	section {
		margin: 0 5%;
	}

	.section__pic-container {
		width: 275px;
		height: 275px;
		margin: 0 auto 2rem;
	}
}

/* Mobile */
@media screen and (max-width: 850px){
	.logo{
		font-size: 1.5rem;   
		text-align: center;
		width: -webkit-fill-available;
	}

	.nav-links{
		flex-direction: column;
		gap: 0.5rem;
		text-align: center;
	}

	nav#hamburger-nav{
		display: flex;
	}	
	
	section{
		margin-bottom: 3rem;
		padding-top: 6.5rem;
	}
	
	#profile{
		height: unset;
		margin-top: 8rem;
		flex-direction: column;
		gap: 0;
	}
	
	#profile .profile__pic{
		margin: 0 2rem 2rem 2rem;
		height: unset;
		width: unset;
	}
	
	#profile .profile__pic img{
		width: 100%;
		height: 100%;
	}

	#profile .section__title{
		margin-bottom: 2rem;
	}
	
	#profile #section__social__buttons{
		margin-top: 2rem;
	}

	#projects .projects__container .project{
		max-width: unset;
		width: -webkit-fill-available;
	}
	
	#projects .projects__container .project .project__thumbnail{
		height: unset;
		width: unset;
	}

	#projects .projects__container, #skills .skills__container{
		flex-direction: column;
	}
	
	#projects .projects__container, #skills .skills__container .skills{
		width: unset;
	}

	#about .about__container{
		flex-direction: column-reverse;
	}

	#about .about__container .text-container{
		padding: 0;
		width: 100%;
		text-align: justify;
	}

	#about .about__container .education{
		width: unset;
	}

	footer{
		height: unset !important;
		margin-bottom: 1.5rem;
	}

	footer div{
		flex-direction: column;
		gap: 0;
	}

	footer .nav-links-container{
		height: fit-content;
		margin-bottom: 2rem;
	}
	
	footer .nav-links{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact-info-upper-container{
		flex-direction: column;
	}

	.contact-info-container {
		margin: 0;
	}

	.contact-info-container p, .nav-links li a {
		font-size: 1rem;
	}
}
