body{
    overflow: hidden;
}

main{
    transform: translateY(-1px);
}

.content{
    position: relative;
    overflow: scroll;
    height: 87vh;
}

#toTop{
    display: none;
    position: fixed;
    height: 40px;
    width: 40px;
    bottom: 40px;
    right: 25px;
    z-index: 101;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
}
